body {
    margin: 0;
    background: transparent;
    overflow: hidden;
    user-select: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container {
    position: absolute;
    top: 20%;
    left: 25%;
    background-color: rgba(214, 0, 0, 0.9);
    height: 50vh;
    width: 50vw;
    border-radius: 1.5rem;
    display: none;
}

#title {
    position: absolute;
    width: 95%;
    top: 4%;
    left: -5%;
    margin: 7.5%;
    height: 10%;
}
#other {
    position: absolute;
    width: 95%;
    top: 30%;
    left: -5%;
    margin: 7.5%;
    height: 10%;
}
.text {
    
    color: azure;
    font-size: 6.5vh;
    text-align: center;
}
.text2 {
    color: azure;
    font-size: 4vh;
    text-align: center;
}
.text3 {
    color: azure;
    font-size: 3.5vh;
    text-align: center;
}

